.container-inline-date {width:auto; clear:both;}
.container-inline-date .form-item {float:left; padding:0; margin:0}
.container-inline-date .form-item, .container-inline-date .form-item input {width:auto;}
.container-inline-date .description {clear: both;}
.container-inline-date .form-item input, .container-inline-date .form-item select {margin-right:.5em;}


.container-inline-date {
  display: inline-block;
 }

/* force IE to display the jscalendar icon in date fieldsets */
.container-inline-date .jscalendar-icon {
  text-indent: 0;
}

.container-inline-date .date-timezone .form-item {
  float:none;
  width:auto;
  clear:both;
  }

 /* Fixes for date popup css so it will behave in Drupal */
#calendar_div, #calendar_div td, #calendar_div th {
    margin:0;
    padding:0;
}
#calendar_div, .calendar_control, .calendar_links, .calendar_header, .calendar {
width: 185px;
border-collapse: separate;
margin: 0;
}
.calendar td {
padding: 0;
}