/* Pager plugin css */
div.date-views-pager {
  margin-left: auto;
  margin-right: auto;
}

div.date-views-pager div {
  float: left;
  width: 20%;
  text-align: left;
}

div.date-views-pager div.current-page {
  text-align: center;
  font-weight: bold;
}

div.date-views-pager div.next-month,
div.date-views-pager div.next-year {
  text-align: right;
}